/* LAYOUT */ 
.header{
height: 15%;
width:100%;
text-align: center;
color: white;
font-family:Courier New;
}
.header h1{
	color: gray;
	font-size: 50px;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 gray, 0 -1px white;
}

.background{
background-image: url(../image/layout/background.jpg); /* Image */
background-repeat: no-repeat;
background-size: cover;
}


.boxmain{   /* Main content box */
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    border: 3px solid white;
    position: relative;
    
}

.container1{   /* Menu box */
    margin: auto;
    width: 90%;
    border-radius: 5px 5px 0px 0px;
    border: 3px solid white;
    height: 30px;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height:3%;
background-color:#ccc;
color: black;
text-align: center;
font-family:Courier New;
font-size: 90%;

}

body {margin:0;font-family:Arial}


/* MENU */
.topnav {
  overflow: hidden;
  background-color: #f9f9f9;
}

.topnav a {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:Courier New;
}

.active {
  background-color: #f9f9f9;
  color: gray;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    font-family:Courier New;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: gray;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* CALENDAR */ 
table.calendar		{ width:100%; border-left:1px solid #999; }
tr.calendar-row	{  }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }
