/* LAYOUT */
/* test */
.header{
height: 115px;
width:100%;
text-align: center;
font-family:Courier New;
font-size: 350%;
padding-top: 1.5%;
}
.background{
background-image: url(../image/layout/background.jpg); /* Insere a imagem */
background-repeat: no-repeat;
background-size: cover;
}
.container{
position: fixed;
left:5%;
right:5%;
width: 90%;
height:90%;
background-color: white;
color: black;
text-align: left;
overflow:scroll;
padding:1px 0;
}
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:#ccc;
color: black;
text-align: center;
font-family:Courier New;
font-size: 90%;

}

/* FORM INDEX */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* MANAGER MENU */ //https://codepen.io/philhoyt/pen/ujHzd

body{
margin:0;
background: #f2f2f2f;
}
.nav{
width:83%;
background:#000000;
height:7%;
position:fixed;
}
.fixed-menu{ z-index: 9999; position: fixed; top: 0; 
}
ul{
list-style:none;
padding:0;
margin:0;
position:absolute;
}
ul li {
float:left;
margin-top:0;
}
ul li a{
width:150px;
color:white;
display:block;
text-decoration:none;
font-size:20px;
text-align:center;
padding:10px;
border-raidus:10px;
font-family:Courier New;
}
a:hover{
background:#c0c0c0;
}
ul li ul {
background:#000000;
}
ul li ul li{
float:none;
}
ul li ul{
display:none;
}
ul li:hover ul {
display:block;
}
